*:after,
*:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  outline: none;
}
img {
  display: block;
  width: 64px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  letter-spacing: 1px;
  word-break: break-all;
}
body {
  font-family: "Open Sans", arial, sans-serif;
  font-size: 16px;
  color: #373737;
  background: #f7f7f7;
  font-size: 16px;
  margin: 0;
}
h2 {
  font-family: "Roboto", sans-serif;
  font-size: 96px;
  color: #ca6552;
  margin: 0;
  padding: 0 20px 0px 30px;
}

h3 {
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding-right: 15px;
}
.nav_burger {
  display: none;
}
.burg_line {
  width: 24px;
  border: 1px solid #111111;
  margin: 5px;
}

p,
a {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #111111;
}

.block {
  max-width: 940px;
  width: 100%;
  margin: 0 auto;
}

main {
  background-image: url(https://images03.nicepage.io/c461c07a441a5d220e8feb1a/935d26ae03315201b50dd7cc/wsqe-min.jpg);
  background-size: cover;
}
.head {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}
section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 60px 0 0 0;
  max-width: 940px;
  width: 100%;
  margin: 0 auto;
}

.cont_one {
  width: calc((100% - 40px) / 3);
  background: #ffffff;
  opacity: 0.6;
  margin-bottom: 20px;
  padding: 40px 0 20px;
}

.cont_one p {
  line-height: 1.6;
  padding: 30px 30px;
  margin: 0;
}

.img_logo {
  align-self: center;
}
a,
.nav_burger:hover {
  color: rgb(236, 4, 74);
}
.navi_href {
  display: flex;
  align-items: center;
}
li {
  padding-right: 25px;
}

.subcont_head {
  display: flex;
  align-items: center;
}

.subcont_foot {
  padding: 30px 30px;
}

.line_href {
  border-bottom: 2px solid red;
  text-transform: uppercase;
}

.text_foot {
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  padding-bottom: 30px;
}

@media (max-width: 990px) {
  .block {
    max-width: 720px;
  }

  .cont_one {
    width: calc((100% - 20px) / 2);
  }
  .cont_one p {
    padding: 10px 30px;
  }
  section {
    max-width: 720px;
  }
  main {
    padding: 0;
  }
  .navi_href {
    display: none;
  }
  .nav_burger {
    display: flex;
    align-items: center;
  }
}

@media (max-width: 770px) {
  .block {
    max-width: 540px;
  }

  .cont_one {
    margin: 0 0 20px;
    width: 100%;
  }
  section {
    max-width: 540px;
  }
}

@media (max-width: 575px) {
  .block {
    max-width: 340px;
  }

  .cont_one {
    width: 100%;
  }
  section {
    max-width: 340px;
  }
}
